  body {
        background-color: #e8e8e8;
  }

  nav {
    top: 0;
    left: 0;
    position: absolute;
    height: 4rem;
    width: 100%;
    background-color: #26A65B;
    border-bottom: .5rem solid #36D7B7;
  }
  .txt-center {
    text-align: -webkit-center;
  }
  .ssf {
    font-family: sans-serif;
  }
  .pr {
    position: relative;
  }
  .contents {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 6%; 
    width: 70%;
    padding-bottom: 2.5%;
    background-color: #fff;
    margin-bottom: 4rem; 

    .jmodal {
      font-family: 'Bungee Shade', cursive;
      font-size: 5rem;
      text-align: center;
    }
    .jmodal-sub {
      display: block;
      line-height: 0;
      margin-bottom: 5rem;
    }

    .sub-header {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }
    .usage {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        padding-top: 5%;
    }
    
    .objectDesc {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        padding-top: 5%;  
    }
  }
  .logo {
    position: relative;
    z-index: 1;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 3px solid lightgreen;
    background: #fff;
    left: 3rem;
    top: 50%;
    margin-top: -1rem;
    text-align: -webkit-center;
    .name {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      border-radius: 50%;
    }
  }
.footer {
    position: fixed;
    bottom: 2%;
    right: 0;
    z-index: 1;
    width: 9%;
    .octo {
      position: relative;
      float: right;
      width: 100%;
      height: 3rem;
      background: #ae6cca;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 80%;
        transform: translate(-50%, -50%);
      }
    }
    .npm {
      position: relative;
      float: right;
      width: 100%;
      height: 3rem;
      background: #e74c3c;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
      }
    }
}

@media screen and (max-device-width: 1000px) 
              and (orientation:landscape){
  body {
    .contents {
      width: 80%;
    }
  }
}

@media screen and (max-device-width: 1000px) {
  .contents {
    width: 90%;
  }
}

@media screen and (max-device-width: 700px) {
 .footer {
  .npm { 
    img { height: 40%; }
    }
  }
  .contents {
    top: 6rem;
  }
}

@media screen and (max-device-width: 600px) {
 .footer {
  width: 15%;
  .npm { 
    img { height: 30%; }
    }
  }
  .contents {
    .jmodal {
      font-size: 4rem;
    }
  }
}

@media only screen and (max-width: 490px) {
  .contents {
    .jmodal {
      font-size: 3.5rem;
    }
  }
}

@media screen and (max-device-width: 420px) {
 .footer {
  width: 12%;
  .octo {
    img{ 
      height: 70%;
    }
  }
  .npm { 
    img { height: 25%; }
    }
  }
  .contents {
    top: 6.5rem;
  }
}

@media only screen and (max-width: 390px) {
  .contents {
    .jmodal {
      font-size: 2.75rem;
    }
  }
}
