  nav {
  	top: 0;
    left: 0;
    position: absolute;
    height: 4rem;
    width: 100%;
    background-color: #2ecc71;
  }
  .logo {
  	position: relative;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: #fff;
    left: 3rem;
    top: 50%;
    margin-top: -1rem;
    text-align: -webkit-center;
  }
.octo-footer {
    position: absolute;
    bottom: 0;
    right: 2%;
    width: 4rem;
    height: 7rem;
    background: #ae6cca;
    img {
      position: absolute;
      top: 10%;
      left: 50%;
      height: 50%;
      transform: translateX(-50%);
    }
}