  body {
        background-color: #e8e8e8;
  }

  nav {
  	top: 0;
    left: 0;
    position: absolute;
    height: 4rem;
    width: 100%;
    background-color: #2ecc71;
  }
  .contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 55%;
    background-color: #fff;
  }
  .logo {
  	position: relative;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: #fff;
    left: 3rem;
    top: 50%;
    margin-top: -1rem;
    text-align: -webkit-center;
  }
.footer {
    position: absolute;
    bottom: 0;
    right: 2%;
    width: 8rem;
    .octo {
      position: relative;
      float: right;
      width: 50%;
      height: 7rem;
      background: #ae6cca;
      img {
        position: absolute;
        top: 10%;
        left: 50%;
        height: 50%;
        transform: translateX(-50%);
      }
    }
    .npm {
      position: relative;
      float: right;
      width: 50%;
      height: 7rem;
      background: #e74c3c;
      img {
        position: absolute;
        top: 30%;
        left: 50%;
        height: 20%;
        transform: translateX(-50%);
      }
    }
}