.mdl-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .mdl-overlay {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 8000;
    background: #373A47;
  }

  .mdl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .5rem;
    width: 45%;
    border-radius: 3px;
    background: white;
    z-index: 9000;
    overflow: auto;
  }
}

@media only screen and (max-width: 1366px) {
  .mdl-container {
    .mdl {
        width: 80%;
    }
  }
}

@media only screen and (max-height: 1229px) {
  .mdl-container {
   .mdl {
     height: 45%;
   }
  }
}

