@import 'index';

.mdl-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .mdl-overlay {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 8000;
    background: #373A47;
    animation: overlayIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }

  .mdl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .5rem;
    width: 45%;
    border-radius: 3px;
    background: white;
    z-index: 9000;
    overflow: auto;
    animation: moveIn .5s cubic-bezier(.42,0,.58,1) forwards;
  }
    &.out {
      .mdl-overlay {
        animation: overlayOut .5s cubic-bezier(.42,0,.58,1) forwards;
        z-index: -9000;
      }
      .mdl {
        animation: moveOut .5s cubic-bezier(.42,0,.58,1) forwards;
        z-index: -9000;
      }
  }
}

@media only screen and (max-width: 1366px) {
  .mdl-container {
    .mdl {
        width: 80%;
        height: 45%;
    }
  }
}

@media only screen and (max-height: 1229px) {
  .mdl-container {
   .mdl {
     height: 45%;
   }
  }
}

@keyframes overlayIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes overlayOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveIn {
  0% {
    transform: translate(-50%, 300%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes moveOut {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -300%);
  }
}


